.header-wrap {
    background-color: #a9a9a9a9;
}
.contents_wrapper {
    padding: 60px;
    padding-top: 148px;
    text-align: center;
}
.content-link {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-link > li {
    width: 350px;
    margin-bottom: 30px;
}