.header-wrap {
    background-color: #a9a9a9a9;
}
.contents_wrapper {
    padding: 60px;
    padding-top: 108px;
    background-color: #000000;
}
.content-link {
    max-width: 1145px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-link > li {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
}